@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.main-title {
  background-color: #e1e1e1;
}

.projekti span {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1px;
  margin-right: 2px;
}

tim-IT span {
  color: #750b0b !important;
}

.tim-CR span {
  color: #081a83 !important;
}

.tim-AR span {
  color: #ae6b07 !important;
}

.tim-PR span {
  color: #207a1a !important;
}

.tim-HR span {
  color: #500c8a !important;
}